body {
    margin: 0;
    background-image: url(img/splash_right.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

#content {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 1% 10% 1% 10%;
}

#title {
    text-align: left;
    width: 100%;
}

#title img {
    width: 50%;
    margin-bottom: 20px;
    text-align: left;
}


/*------ NAV MENU IN CONTENT -----*/

#nav_menu {
    flex-wrap: nowrap;
    background-color: rgba(45, 45, 45, 0.9);
}

.urten_nav {
    margin: 0;
    margin: 0vw 6vw 0vw 6vw;
}

.urten_nav img {
    width: 4.5vw;
    vertical-align: middle;
}

#mid_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    height: 100%;
}


/*------- COLUMN 1 ------*/

.column_wide {
    flex-grow: 1;
    flex-basis: 300px;
    margin-right: 10px;
    background-color: rgba(45, 45, 45, 0.9);
    overflow: hidden;

}

.column_wide p {}

.video_content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.column_wide iframe {
    width: 100%;
    align-self: center;
}


/***


} ***/


/*------- COLUMN 3 ------*/

.column_narrow_images {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 10px;
    padding: 20px 25px 20px 20px;
    background-color: rgba(45, 45, 45, 0.9);
    text-align: center;
}

.column_narrow_images h3 {
    color: #F7F0E7;
    font-family: 'open sans';
}

.top img {
    width: 100%;
    margin-bottom: 20px;
    border: 3px solid darkred;
}

.bottom img {
    width: 100%;
    border: 3px solid darkred;
}

.column_narrow_images p {
    color: #F7F0E7;
    font-family: 'open sans';
    opacity: 1;
}


/*------- FOOTER -------*/

#footer {
    margin: 10px 0px 0px 0px;
    padding: 0vw 1vw;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(45, 45, 45, 0.9);
    align-items: center;
    height: 6vw;
    justify-content: space-between;
}

#footer img {
    filter: invert(100%);
    margin: 0.5vw 0.5vw;
    vertical-align: middle;
}

.footer_left {
    flex-grow: 1;
}

.footer_middle_right {
    flex-grow: 95;
    color: #F7F0E7;
    font-family: 'Open Sans';
    text-align: right;
    font-size: 1vw;
}

.footer_middle_left {
    flex-grow: 90;
    color: #F7F0E7;
    font-family: 'Open Sans';
    margin-left: 1vw;
    font-size: 1vw;
}


/*-------- TRIP ADVISOR ---------*/

.footer_right {
    flex-grow: 8;
    text-align: right;
    margin-right: 1vw;
    filter: invert(100%);
}

.footer_right img {
    width: 6vw;
}

.footer_left img {
    width: 4.5vw;
}

/*--------- NAVIGATION MENU -------*/

nav {
    position: relative;
    width: 100%;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0vw 4vw 0vw 4vw;
    vertical-align: middle;
}

nav a {
    display: inline-block;
    color: #F7F0E7;
    margin: 1vw 7.6vw;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 1.2vw;
    letter-spacing: 0.3vw;
    vertical-align: middle;
}

nav a:hover {
    color: darkred;
}


/*--------- DROPDOWN MENU ----------*/

.dropbtn {
    background-color: #2d2d2d;
    color: #F7F0E7;
    padding: 16px;
    width: 113px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 1.5em;
    text-align: left;
}


/*------ DROPDOWN CONTAINER -------*/

.dropdown {
    position: fixed;
    display: inline-block;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    background-color: #2d2d2d;
}


/*-------- DROPDOWN INDHOLD -------*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkred;
    min-width: 89px;
    z-index: 1;
}

.dropdown-content a {
    color: #F7F0E7;
    padding: 10px;
    width: 89px;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans';
    background-color: darkred;
    border: 2px solid darkred;
}

.dropdown-content li {
    list-style-type: none;
    background-color: #2d2d2d;
}

.dropdown-content a:hover {
    background-color: red;
    border: 2px solid #2d2d2d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkred;
}


/*-------- Media Queries ---------- */


@media all and (max-width: 828px) {
    nav {
        display: none;
    }
    nav select {
        display: inline-block;
    }
    body {
        margin-top: 80px;
    }
}

@media all and (min-width: 828px) {
    .dropdown {
        display: none;
    }
}
