body {
    margin: 0;
    background-image: url(img/splash_right.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

#content {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 1% 10% 1% 10%;
}

#title {
    text-align: left;
    width: 100%;
}

#title img {
    width: 50%;
    margin-bottom: 20px;
    text-align: left;
}

#nav_menu {
    flex-wrap: nowrap;
    background-color: #2d2d2d;
    opacity: 0.9;
}

.urten_nav {
    margin: 0;
    margin: 0vw 6vw 0vw 6vw;
}

.urten_nav img {
    width: 4.5vw;
    vertical-align: middle;
}


#mid_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}


/*------- COLUMN 1 ------*/

.column_wide {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #2d2d2d;
    opacity: 0.9;

}

.column_wide p {

}

iframe {
    max-width: 560px;
    display: block;
    opacity: 1;
    color: #2d2d2d;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}


/*------- COLUMN 3 ------*/

.column_narrow_images {
    flex-grow: 1;
    flex-basis: 100px;
    margin-left: 20px;
    padding: 20px 25px 20px 20px;
    background-color: #2d2d2d;
    opacity: 0.9;
    text-align: center;
}

.column_narrow_images h3 {
    color: #F7F0E7;
    font-family: 'open sans';
}

.top img {
    width: 100%;
    margin-bottom: 20px;
    border: 3px solid darkred;
}

.bottom img {
    width: 100%;
    border: 3px solid darkred;
}

.column_narrow_images p {
    color: #F7F0E7;
    font-family: 'open sans';
    opacity: 1;
}


/*------- FOOTER -------*/

#footer {
    margin-top: 20px;
    padding-left: 6px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #2d2d2d;
    opacity: 0.9;
    align-items: center;
    height: 80px;
}

#footer img {
    opacity: 1;
    filter: invert(100%);
    margin: 6px 4px 6px 4px;
    vertical-align: middle;
}

#footer p {
    color: #F7F0E7;
    font-family: 'Open Sans';
    text-align: left;
    opacity: 1;
    margin-left: 10px;
}


/*--------- NAVIGATION MENU -------*/

nav {
    background-color: #2d2d2d;
    position: relative;
    width: 100%;
    text-align: center;
}

nav li {
    background-color: #2d2d2d;
    display: inline-block;
    margin: 0vw 4vw 0vw 4vw;
    vertical-align: middle;
}

nav a {
    display: inline-block;
    color: #F7F0E7;
    background-color: #2d2d2d;
    margin: 1vw 7.8vw;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 1.2vw;
    letter-spacing: 0.3vw;
    opacity: 1;
    vertical-align: middle;
}

nav a:hover {
    color: darkred;
    opacity: 1;
}


/*--------- DROPDOWN MENU ----------*/

.dropbtn {
    background-color: #2d2d2d;
    color: #F7F0E7;
    padding: 16px;
    width: 113px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 1.5em;
    text-align: left;
}


/*------ DROPDOWN CONTAINER -------*/

.dropdown {
    position: fixed;
    display: inline-block;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    background-color: #2d2d2d;
}


/*-------- DROPDOWN INDHOLD -------*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkred;
    min-width: 89px;
    z-index: 1;
}

.dropdown-content a {
    color: #F7F0E7;
    padding: 10px;
    width: 89px;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans';
    background-color: darkred;
    border: 2px solid darkred;
}

.dropdown-content li {
    list-style-type: none;
    background-color: #2d2d2d;
}

.dropdown-content a:hover {
    background-color: red;
    border: 2px solid #2d2d2d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkred;
}


/*-------- Media Queries ---------- */

@media all and (max-width: 828px) {
    nav {
        display: none;
    }
    nav select {
        display: inline-block;
    }
    body {
        margin-top: 80px;
    }
}

@media all and (min-width: 828px) {
    .dropdown {
        display: none;
    }
}
